/* _includes/styles.css */

.wrapper{
    padding: 0;
}
.site-nav{
    padding: 0;
}
.page-link {
    display: inline-block;
    background-color: #3c3941;
    color: #fff;
    border: none;
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    cursor: pointer; 
    margin-bottom: 0px; /* Adjust this value to control the spacing */
    border-radius: 10px; /* Adjust this value to control the roundness */
}
  
.page-link:hover {
    background-color: #2d2a2e; /* logo color: 3c3941 */
}

.wrapper {
    background: linear-gradient(to bottom, #f7f7f7, #e5e5e5);
}

.site-title {
    display: inline-block;
    text-decoration: none;
}
.title{
    display: inline-block;
    color: #000;
    font-size: 60px;
    vertical-align: top;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}