<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nathan Matharu's Webpage</title>
    <meta name="description" content="My Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="icon" href="{{ site.baseurl }}/Nathan-light.ico" type="images/x-icon" media="(prefers-color-scheme:dark)">
    <link rel="icon" href="{{ site.baseurl }}/Nathan.ico" type="images/x-icon" media="(prefers-color-scheme:light)">
    <link rel="icon" href="{{ site.baseurl }}/Nathan.ico" type="images/x-icon" media="(prefers-color-scheme:no-preference)">
</head>