<header class="site-header">

  <div class="wrapper" style="margin-top:20px;"

    <a class="site-title" href="{{ site.baseurl }}/"><img src="https://Nathan-Matharu.github.io/img/Website.png" style="max-width:60px"></a>
<!--Creates an image in the top left that links to the homepage of the website-->

    <nav class="site-nav"> <!--This is what allows you to navigate the webiste?-->
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">  <!--Is this the size of the navbox?-->
          <!-- Valerolab uses a bunch of path fills here-->
        </svg>
      </a>

      <div class="trigger"> <!--Applies css style with css rules-->
        {% for my_page in site.pages %} <!--loop construct-->
          {% if my_page.title %}  
            {% if my_page.menu =='main' %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
